body{
    text-align: center;
}

ul{
    list-style-type: none;
    overflow: hidden;
}
li{
    float: left;
    text-align: center;
    padding: 50px;
    margin-left: 120px;
}
.quateDiv{
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}